<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="104.0.5112.7900" targetFramework="net48" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="103.0.1264.71" targetFramework="net48" />
</packages>